<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <title>San Francisco City Guides Google Calendar</title>
</head>

<body>

  <h1><a href="http://www.sfcityguides.org/index.html">San Francisco City Guides</a> Google Calendar</h1>

  <p>Written by <a href="https://github.com/jrejaud">Jordan Rejaud</a>, <a href="https://github.com/jrejaud/sfcityguidescalendar">See the code on Github</a></p>

  <a href="https://twitter.com/share" class="twitter-share-button" data-via="JordanRejaud">Tweet</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>

  <div style='position: relative; width: 100%; height: 0px; padding-bottom: 75%;'>
      <iframe src="https://www.google.com/calendar/embed?&amp;showTitle=0&amp;showDate=0&amp;mode=WEEK&amp;showPrint=0&amp;showCalendars=0&amp;mode=WEEK&amp;height=600&amp;wkst=1&amp;bgcolor=%23FFFFFF&amp;src=4e67mrfursaidmh7ocklgrslh0%40group.calendar.google.com&amp;color=%232952A3&amp;ctz=America%2FLos_Angeles" style='position: absolute; left: 0px; top: 0px; width: 100%; height: 100%; max-height:1000px; border-width:0; frameborder="0"; scrolling="no";'></iframe>
  </div>
  <!-- showTabs=0&amp; -->

</body>
</html>
